<h1 class="networks__title">Social networks</h1>
<div class='networks__container'>
  <% @social_network.each do |network| %>
    <div class='network'>
    <div class="network__bg <%= network.network %>">
    </div>
      <%= link_to network.url, target: "_blank" do %>
        <%= image_tag network.network %>
      <% end %>
      <% if current_user.id == @user.id %>
        <%= link_to 'X', social_network_path(network), method: :delete ,data: {confirm: "Are you sure ?"}%>
      <% end %>
    </div>
  <% end %>
</div>
<% if current_user.id == @user.id %>
  <%= link_to 'add', new_social_network_path(current_user.id)%>
<% end %>
