<div class="cont">
  <%= link_to profile_path(current_user.id) do %>
    <%= image_tag 'back', class: "back"%>
  <% end %>
</div>
<div class="newForm">
  <h2 class="newForm__title"> Edit your profile <span><%= current_user.name%></span> </h2>
  <%= form_with(model: @profile, local:true) do |f|%>
    <div class="newForm__bg newForm__gap">
      <div class="newForm__col">
        <%= f.label 'About me' %>
        <%= f.text_area :description %>
      </div>
      <div class="newForm__location">
        <%= f.label :city %>
        <%= f.label :state %>
        <%= f.label :country %>
        <%= f.text_field :city %>
        <%= f.text_field :state %>
        <%= f.text_field :country %>
      </div>
      <div class="newForm__col">
        <%= f.label :phone_num %>
        <%= f.text_field :phone_num %>
      </div>
      <div class="newForm__row">
        <div class="newForm__visible">
          <%= f.label :visible %>
          <%= f.select(:visible, options_for_select([["True",1],["False",0]])) %>
        </div>
        <%= f.submit %>
      </div>
    </div>
  <% end %>

  <% if @profile.errors.any? %>
    <h3> The following errors prevented the Profile from being Updated</h3>
    <ul>
    <% @profile.errors.full_messages.each do |msg|%>
      <li><span><%= msg %></span></li>
    <% end %>
    </ul>
  <% end %>
</div>
