<div class="container">
  <div class="feed">
    <aside class="user">
      <%= image_tag 'profile', class: 'user__img' %>
      <% if @profile.nil? %>
        <h3 class="user__name" > <%= link_to current_user.name, new_profile_path %> </h3>
      <% else %>
        <h3 class="user__name"> <%= link_to current_user.name, profile_path(current_user.id) %> </h3>
        <% skill = Skill.find_by(user_id: current_user.id ) %>
        <% if !skill.nil? %>
          <h4 class="user__skill" > <%= skill.name %> </h4>
        <% else %>
          <h4 class="user__skill"> <%= link_to "Add skill", new_skill_path(current_user.id) %> </h4>
        <% end %>
      <% end %>
    </aside>

    <main>
      <% if !@profiles.empty? %>
        <% @profiles.each do |profile| %>
          <div class="profile">
            <% user = User.find_by(id: profile.user_id) %>
            <% skill = Skill.find_by(user_id: user.id) %>
            <div>
              <h4 class="profile__name" > <%= link_to user.name, profile_path(user.id)%> </h4>
              <h5 class="profile__city" > <%= profile.city %>, <%= profile.state %>, <%= profile.country %> </h5>
            </div>
            <div>
              <% if !skill.nil? %>
                <h5 class="profile__skill" > <%= skill.name %> </h5>
              <% end %>
              <h5> <%=  user.birthday.strftime("%m-%d-%Y") %> </h5>
            </div>
              <p class="profile__description" > <%= profile.description %> </p>
          </div>
        <% end %>
      <% else %>
        <h2>Users not found</h2>
      <% end %>
    </main>
  </div>
</div>
