<div class="profile">
  <div class="container">
    <%= link_to profiles_path do %>
      <%= image_tag 'back', class: "back"%>
    <% end %>
    <%= render 'about' %>
  </div>
    <div class='skills'>
      <% if !@skills.empty? %>
        <%= render 'skills' %>
      <% else %>
        <% if current_user.id == @user.id %>
        <div class="container">
          <h1 class='skills__title--first'><%= link_to "Add your first Skill", new_skill_path(current_user.id)%> </h1>
          <div class='skills__line'></div>
        </div>
        <% end %>
      <% end %>
    </div>
    <div class="networks">
      <div class="container">
        <% if !@social_network.empty? %>
          <%= render 'socialn' %>
        <% else %>
          <% if current_user.id == @user.id %>
            <h1 class="networks__title--first"><%= link_to "Add your Social network #{ current_user.name }", new_social_network_path(current_user.id)%> </h1>
            <div class='networks__line'></div>
          <% end %>
        <% end %>
      </div>
    </div>
</div>
