<%= link_to 'Back', profiles_path%>
<%= render 'about' %>
<% if current_user.id == @user.id %>
  <%= link_to 'Edit', edit_profile_path(current_user.id)%>
<% end %>
<% if !@skills.empty? %>
  <h1>Skills <%= @user.name %> </h1>
  <% @skills.each do |skill|%>
    <div>
      <p> <%= skill.name %> <%= link_to 'X', skill_path(skill), method: :delete ,data: {confirm: "Are you sure ?"}%></p>
    </div>
  <% end %>
  <% if current_user.id == @user.id %>
    <%= link_to 'new', new_skill_path(current_user.id)%>
  <% end %>
<% else %>
  <% if current_user.id == @user.id %>
    <h2><%= link_to "Add your first Skill #{ current_user.name }", new_skill_path(current_user.id)%> </h1>
  <% end %>
<% end %>
