<div class='signup-container'>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <div class='form'>
      <div class='form__header'>
        <h2 class='form__tittle'>Sign up</h2>
        <%= link_to 'x', users_log_in_path%>
      </div>
      <div class="form__group">
        <%= f.label :name, class: 'form__label'%>
        <%= f.text_field :name, autofocus: true, autocomplete: "name", class: 'form__input' %>
      </div>

      <div class="form__group">
        <%= f.label :email, class: 'form__label' %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form__input' %>
      </div>

      <div class="form__group">
        <div>
          <%= f.label :password, class: 'form__label'%>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %>
        </div>
        <%= f.password_field :password, autocomplete: "new-password", class: 'form__input' %>
      </div>

      <div class="form__group">
        <%= f.label :password_confirmation, class: 'form__label' %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form__input' %>
      </div>

      <div class="form__group">
        <%= f.label :birthday, class: 'form__label' %>
        <%= f.date_field :birthday, autofocus: true, class: 'form__input' %>
      </div>

      <div class="form__group--gender">
        <%= f.label "Gender", class: 'form__label' %>
        <%= f.select(:gender, options_for_select([['Female','Female'],['Male','Male']])) %>
      </div>
      <div class='form__links'>
        <%= f.submit "Sign up" , class: 'form__button signup'%>
        <%= link_to '<input class="form__button login" type="button" value="Log in">'.html_safe, users_log_in_path%>
      </div>
    </div>
  <% end %>
</div>
