<div class="margin-top"></div>
<div class="cont">
  <%= link_to new_user_session_path do %>
    <%= image_tag 'back', class: "back"%>
  <% end %>
</div>

<div class="newForm">
  <h1 class="newForm__title">Forgot your password?</h1>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <div class="newForm__bg newForm__gap">
      <div class="newForm__row--short">
        <%= f.label :email, class: "newForm__label" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "newForm__input" %>
      </div>
      <div class="newForm__row">
        <div></div>
        <%= f.submit "Send me reset password instructions", class:"newForm__button" %>
      </div>
    </div>
  <% end %>
  <%= render "devise/shared/error_messages", resource: resource %>
</div>
