<div class="__content">
  <div class= "mid">

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="login">
          <div>
            <%= f.label :email, class: 'login__label' %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class: "input" %>
          </div>
          <div>
            <%= f.label :password, class: 'login__label' %>
            <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password", class: "input" %>
          </div>
          <%= f.submit "Log in", class: "button"%>
          <%= link_to "Forgot your password?", new_password_path(resource_name), class: "forgot__yourPassword" %>
          <div class='sign'></div>
          <%= link_to '<input class="button__sigIn" type="button" value="Create new account">'.html_safe, new_registration_path(resource_name), class: "link-container"%>
        </div>
      <% end %>

    <div class = "Text">
      <div>
        <h1>Seeker</h1>

        <p>
          To promote yourself.<br>
          To help you.<br>
          To solve the problem you have at home.<br><br>
          Find someone from your city to fix your problems at home.<br>
        </p>
      </div>
    </div>
  </div>
</div>
