<div class="cont">
  <%= link_to profile_path(current_user.id) do %>
    <%= image_tag 'back', class: "back"%>
  <% end %>
</div>
<div class="newForm">
  <h1 class="newForm__title"> Add a your Social networks <span><%= current_user.name%></span> </h1>
  <%= form_with scope: :social_network, url: social_networks_path, local:true do |f|%>
    <div class="newForm__bg newForm__gap">
      <div class="newForm__row--short">
        <%= f.label "Social Network", class: "newForm__label" %>
        <%= f.label :url, class: "newForm__label" %>
      </div>
      <div class="newForm__row--short">
        <%= f.select(:network, options_for_select([["Facebook"],["Instagram"],["LinkedIn"],["Twitter"]])) %>
        <%= f.text_field :url, class: "newForm__input" %>
      </div>
      <div class="newForm__row">
        <div></div>
        <%= f.submit "Create Skill", class:"newForm__button"%>
      </div>
    </div>
  <% end %>

  <% if @social_network.errors.any? %>
    <h2 class="newForm__title"> The following errors prevented the social network from being saved</h2>
    <ul class="newForm__errors">
    <% @social_network.errors.full_messages.each do |msg|%>
      <li><span><%= msg %></span></li>
    <% end %>
    </ul>
  <% end %>
</div>
